---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/sbmp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-heroku-api-version:
      - '2'
      x-ruby-version:
      - 1.9.3
      x-ruby-platform:
      - i686-linux
      authorization:
      - Basic Og==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 401 Unauthorized
      www-authenticate:
      - Basic realm="Application"
    body:
      encoding: US-ASCII
      string: ! 'HTTP Basic: Access denied.

'
  recorded_at: Fri, 04 May 2012 21:04:49 GMT
- request:
    method: get
    uri: https://:FakeApiKey@api.heroku.com/apps/sbmp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-heroku-api-version:
      - '2'
      x-ruby-version:
      - 1.9.3
      x-ruby-platform:
      - i686-linux
      authorization:
      - Basic OjYzMWJiYjJhYWI1NjhkOTNmMTk3Mzc1MDY5NjM0N2Y3ZjlmZWE4ZjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"e32026fbb1ab6519a01cf80025f08660"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<app>\n  <created-at
        type=\"datetime\">2012-02-26T21:42:49-08:00</created-at>\n  <dynos type=\"integer\">0</dynos>\n
        \ <name>sbmp</name>\n  <repo-size type=\"integer\">220864512</repo-size>\n
        \ <requested-stack nil=\"true\"></requested-stack>\n  <slug-size type=\"integer\">85061632</slug-size>\n
        \ <stack>cedar</stack>\n  <workers type=\"integer\">0</workers>\n  <create-status
        type=\"symbol\">complete</create-status>\n  <repo-migrate-status type=\"symbol\">complete</repo-migrate-status>\n
        \ <buildpack-provided-description>Ruby/Rails</buildpack-provided-description>\n
        \ <id>app3049118@heroku.com</id>\n  <domain_name>sbmp.herokuapp.com</domain_name>\n
        \ <owner>aws@salesbump.com</owner>\n  <web_url>http://sbmp.herokuapp.com/</web_url>\n
        \ <git_url>git@heroku.com:sbmp.git</git_url>\n  <database_size></database_size>\n
        \ <stateless-codex>true</stateless-codex>\n</app>\n"
  recorded_at: Fri, 04 May 2012 21:07:11 GMT
- request:
    method: get
    uri: https://:FakeApiKey@api.heroku.com/apps/sbmp/collaborators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-heroku-api-version:
      - '2'
      x-ruby-version:
      - 1.9.3
      x-ruby-platform:
      - i686-linux
      authorization:
      - Basic OjYzMWJiYjJhYWI1NjhkOTNmMTk3Mzc1MDY5NjM0N2Y3ZjlmZWE4ZjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"89032632d1ae99be4cc6bc10767a1adc"'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<collaborators>\n  <collaborator>\n
        \   <email>aws@salesbump.com</email>\n    <access>edit</access>\n  </collaborator>\n
        \ <collaborator>\n    <email>judson@lrdesign.com</email>\n    <access>edit</access>\n
        \ </collaborator>\n</collaborators>\n"
  recorded_at: Fri, 04 May 2012 21:07:11 GMT
- request:
    method: get
    uri: https://:FakeApiKey@api.heroku.com/apps/sbmp/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-heroku-api-version:
      - '2'
      x-ruby-version:
      - 1.9.3
      x-ruby-platform:
      - i686-linux
      authorization:
      - Basic OjYzMWJiYjJhYWI1NjhkOTNmMTk3Mzc1MDY5NjM0N2Y3ZjlmZWE4ZjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"3af6412d378895e01d969c520cc169c5"'
    body:
      encoding: US-ASCII
      string: ! '[{"beta":false,"attachable":false,"configured":"mysql2://sbmpdev:sbmpdev2244@dev.c2wvnyihe8jq.us-east-1.rds.amazonaws.com/sbmp","url":"http://devcenter.heroku.com/articles/amazon_rds","state":"public","name":"amazon_rds","description":"Amazon
        RDS","price":{"cents":0,"unit":"month"}},{"beta":false,"attachable":false,"configured":true,"url":null,"state":"public","name":"redistogo:medium","description":"Redis
        To Go Medium","price":{"cents":11000,"unit":"month"}},{"beta":false,"attachable":false,"configured":true,"url":null,"state":"public","name":"sendgrid:starter","description":"SendGrid
        Starter","price":{"cents":0,"unit":"month"}},{"beta":false,"attachable":false,"configured":true,"url":null,"state":"public","name":"shared-database:5mb","description":"Shared
        Database 5MB","price":{"cents":0,"unit":"month"}}]'
  recorded_at: Fri, 04 May 2012 21:07:12 GMT
[...]
